/* #regionglobal */
@font-face {
    font-family:'Poppins-Light' ;
    src: url('../fonte/Poppins-Light.otf');
}

/* reset */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Poppins-Light' ;
}

/* fonte */

:root {

    --font-default: 'Poppins-Light';

    font-size: 14px;
    scroll-behavior: smooth;

}

 

/* colors */

:root {

    --color-default: #11101d;

    --color-primary: deepskyblue;

    --color-secondary: #ffffff;

    --color-tertiary: #000000;

}

 

/* sizes */

:root {

    --title-default: 4em;

    --subtitle-default: 2.5em;

    --paragraph-default: 1.5em;

    --anchor-default: 1.2em;

}

 

h1 {

    font-size: var(--title-default);

}

 

h2 {

    font-size: var(--subtitle-default);
    color: var(--color-secondary);

}

 

p {

    font-size: var(--paragraph-default);

}

 

a {

    font-size: var(--anchor-default);

}

 

h2>span{

    color:var(--color-primary)

}

 body{
    background-color:var(--color-tertiary);
    overflow: hidden;
}

/* #endregion */

 

/* #region nav */

.sidebar{

    position: fixed;

    width: 60px;

    height: 100vh;

    background-color: var(--color-tertiary);

    z-index: 99;

    border-right: 1px solid white;

    opacity: .6;

    text-align: center;

}

 

.logo{

    width: 100%;

    height: 60px;

    padding: 30px 0 100px;

    margin: 0 auto;

}

 

.logo i{

    font-size: var(--subtitle-default);

    color: var(--color-secondary);

    transition: .5s;

}

 

.logo i:hover{

    color: var(--color-primary);

    transition: .5s;

}

 

.navLink{

    height: 70%;

    padding: 30px 0;

}

 

.navLink li{
    position: relative;

    margin-bottom: 10px;

    width: 50px;

    height: 50px;

    line-height: 50px;

    padding: 2em 1em;

    margin: 0 auto;

}

 

.navLink li a{

    color:var(--color-secondary)

}

 

.navLink li a i{

    font-size: var(--paragraph-default);

}
.navLink li span{

    position: absolute;

    border: 1px solid white;

    top: 20px;

    padding: 0 30px;

    letter-spacing: 5px;

    color:white;

    left: -200px;

    opacity: 0;

}

 

.navLink li a:hover{

    color: var(--color-primary);

    transition: .3s;

}

 

.navLink li:hover span{

    transition: .3s;

    opacity: 1;

    left: 80px;

}

 

.menuBaixo{

    width: 100%;

 

}

 

.menuBaixo a img{

    height: 40px;

    border-radius: 50%;

    transition: .5s;

}

 

.menuBaixo a img:hover{

    height: 45px;

    border: 2px solid var(--color-primary);

    transition: .5s;

}
 
/* #region home */
.container{
    width: 100%;
    height: auto;
    z-index: 98;
    
}
#home{
    background-image: url('../img/@Resources/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    
}
 
.home-container{
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
}
#about{
background-image: url('../img/@Resources/about.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed;
width: 100vw;
height: 100vh;
}

.about-container{
    background-color:rgba(0, 0, 0, .6);
    width: 100%;

    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    align-items: center;

}

.about-container p, video{
    width: 60%;
    color: var(--color-secondary);
}

/* #region products */

#products{

    width: 100%;

    height: 100vh;

    text-align: center;

}

 

.products-container{

    width: 100%;

    height: auto;

    display: grid;

    grid-template-columns: 24.6% 24.6% 24.6% 24.6%;

    column-gap: .6rem;
    row-gap: .1rem;
    padding: 0.3rem
  

}
.products-inner{
    position: relative;
    
}
.products-inner img{
    width: 100%;
    height: auto;
    filter: brightness(50%);
    transition: .5s;
}
.products-inner img:hover{
    filter: saturate(0%);
    transition: .5s;
}

.products-inner p{
    position: absolute;
    padding: 10px;
    bottom: 5px;
    background-color: rgba(255, 255, 255, .7);
    font-weight: 600;
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}

.products-inner:hover p{
    transform: scale(1);
    transition: .5s;
    opacity: 1;

}
/* region gallery*/
#gallery{
    width: 100%;
    height: 100vh;
    text-align: center;
}

.gallery-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    column-gap: .8rem;
    row-gap: .6rem;
    padding: 0 12em;
    
}

.gallery-inner{
    width: 20%;
    padding: 0.5rem;
}
.gallery-inner img{
    width: 100%;
    height: auto;
    transition: .5s;
    filter: brightness(50%);
    filter: saturate(0%);
}

.gallery-inner img:hover{
    transition: .5s;
    filter: saturate(100%);
}

.filter{
    width: 100%;
    text-align: center;
    padding: 2em;
}

.filter li{
    display: inline;
    padding: 10px 25px;
    text-transform: capitalize;
    letter-spacing: .2em;
    cursor: pointer;
    transition: .5s;
    color: var(--color-secondary);
}

.filter li:hover{
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    border-radius: 5s;
    transition: .5s;

}

.filter  li.active{
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    border-radius: 5px;
}
/* region contact*/

.contact{


    background-color: var(--color-default);
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 3em;
}

.contact-inner{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 2.5em;

}

.contact-inner li{
    padding: 1em;
    
}

.contact-inner input[type=text],
.contact-inner input[type=email],
.contact-inner input[type=cel]{
width: 100%;
padding: 20px 10px;
height: 1.5em;
line-height: 1.5em;
border-radius: 10px;
border: none;
opacity: .8
}
.contact-inner textarea{
    width: 100%;
    height: 250px;
    padding: 20px 10px;
    resize: none;
    border-radius: 10px;
    border: none;
    opacity: .8;
}

.contact-inner input[type=text]:focus,
.contact-inner input[type=email]:focus,
.contact-inner input[type=tel]:focus,
.contact-inner input textarea:focus{
    outline: none;
    opacity: 1;
}
.btns{
    display: flex;
    justify-content: space-around;
}
.contact-inner input[type=submit],
.contact-inner input[type=reset]{
    padding: 20px 40px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    transition: .5s;
}
.contact-inner input[type=submit]:hover,
.contact-inner input[type=reset]:hover{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    cursor: pointer;
    transition: .5s;
    

}

.contact-inner li span{
    color: var(--color-secondary);
    padding-left: .8em;
}
/* #endregion */

@midia screen and (max-width: 768px){
     produto-container{
        width:100%;
        flex-direction: column;
}